{% extends 'core/base.html' %}
{% load static %}
{% block title %}from{% endblock %}
{% block content %}

<div id="m12_contenido_central">
    <div class="m12_contenedor" id="m12_contenedor1">
        <h1> VIDEO ANIMADO </h1>
        <div id="linea"></div>
    </div>
    <div  class="m12_contenedor" id="m12_contenedor2">
        <h1> "MI HISTORIA CON BURNOUT"

 </h1>
    </div>
    
    <div  class="m12_contenedor" id="m12_contenedor3">
        <p> El siguiente video explica muy bien lo que hemos visto en los materiales anteriores, vamos a revisar el caso hipotético que se presenta.</p>
        <video class="m14_video" controls>
            <source src="{% static 'core/video/historiaBurnout.mp4'%}" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
            Your browser does not support the video tag.
            </video>
        <p> Responda las siguientes cuestiones y dé clic en continuar para ir al ejercicio del Módulo I.</p>
        <!-- Encuesta -->
       <!--<div class="typeform-widget" data-url="https://form.typeform.com/to/ifaV5D63?typeform-medium=embed-snippet" style="width: 100%; height: 500px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>-->

        <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label>La enfermera Nancy pasó por algunas situaciones difíciles que fueron complicando su labor, 
                    como el hecho de tener que realizar múltiples actividades en el hospital. Usted ¿qué situaciones complejas ha identificado a causa de su profesión?</label>
                    <div class="input-group">
                        {{form.nancy}}
                    </div>
                    {{form.nancy.errors}}
                </div>

        <!-- Encuesta fin -->
    
        <div id="m12_botones">
            <div id="m12_boton1" class="m12_boton">
                <a href={% url 'newmodule13' %}><button>Regresar</button></a>
            </div>
            <div id="m12_boton2" class="m12_boton">
                 <!--<a href={% url 'newmodule13' %}><button>Continuar</button></a>-->
                 <input type="submit" class="btn btn-primary btn-block py-2" value="Enviar">
            </div>
        </div>
        </form>
        
    </div>
</div>

{% endblock %}