{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<section class="page-section about-heading">
<div class="container" style="padding-top: 0px;">
{% comment %} {% if request.GET %}
{%for values in request.GET%}

<div class="alert alert-success" role="alert">
  <span class="section-heading-upper">Su resultado fue </span>{{values}}
</div>
{% endfor %}
{% endif %} {% endcomment %}

<!-- Contenedor Modulos de trabajo -->
<div id="nmm_cont1">
  <div id="nmm_contCentral_cont1">
    <div id="nmm_text_cont1">
      <h1>MÓDULOS DE TRABAJO</h1>
    </div>
    <div id="nmm_img_cont1">
      <img src="{% static 'core/img/pantalla.jpg' %}" alt="#">
    </div>
  </div>
</div>
<!-- Contenedor Modulos descripcion -->
<div id="nmm_cont2">
  <div id="nmm_contCentral_cont2">
    <p>
      El taller está diseñado en formato modular; cada uno de los módulos
      de trabajo se irán habilitando dependiendo de su progreso, trabajo y
      participación en el taller.
    </p>
    <p>
      Al finalizar cada módulo encontrará una evaluación sobre los 
      contenidos, si usted obtiene más del 80% de aciertos, podrá habilitar el 
      siguiente módulo, de lo contrario, tendrá la oportunidad de volver a 
      responder el cuestionario para lograr acreditarlo.
    </p>
    <p>
      Por favor siga las indicaciones especificas que encontrará en cada sección. 
    </p>
  </div>
</div>


<!-- Contenedor Modulos -->
<div id="nmm_cont3">

 <div id="nmm_contCentral3">

    <!--Modulos 1 -->
    <div id="module1_nmm_cont3">

      <div id="nmm_module1_1">

        <h1>MÓDULO I. </h1>
        <h2>Psicoeducación</h2>

        <div id="nmm_module1hover">

          <p>Conozca más sobre el Burnout</p>
          <p>¿Qué es?</p>
          <p>¿Por qué y cómo surge?</p>
          <p>¿Qué consecuencias tiene?</p>
          <p>¿Qué estrategias puede llevar a cabo para disminuirlo?</p>

        </div>

      </div>

      <div id="nmm_module1_2">

        <div id="nmm_module1_2_Boton">

          <a href="#">
            Entrar
          </a>

        </div>

      </div>

    </div>


    <!--Modulos 2 -->
    <div id="module2_nmm_cont3">

      <div id="nmm_module2_1">

        <h1>MÓDULO II. </h1>
        <h2>Relajación</h2>

        <div id="nmm_module2hover">

          <p>Aprenda a relajarse ante situaciones estresantes con el
            entrenamiento en relajación muscular progresiva y 
            respiración rítmica. </p>

        </div>

      </div>

      <div id="nmm_module2_2">

        <div id="nmm_module2_2_Boton">

          <a href="#">
            Entrar
          </a>

        </div>

      </div>

    </div>


    <!--Modulos 3 -->
    <div id="module3_nmm_cont3">

      <div id="nmm_module3_1">

        <h1>MÓDULO III. </h1>
        <h2>Solución de problemas</h2>

        <div id="nmm_module3hover">

          <p>Conozca y ponga en práctica los pasos necesarios para 
            solucionar problemas eficazmente.  </p>

        </div>

      </div>

      <div id="nmm_module3_2">

        <div id="nmm_module3_2_Boton">

          <a href="#">
            Entrar
          </a>

        </div>
        
      </div>

    </div>


    <!--Modulos 4 -->
    <div id="module4_nmm_cont3">

      <div id="nmm_module4_1">

        <h1>MÓDULO IV. </h1>
        <h2>Programación de actividades</h2>

        <div id="nmm_module4hover">

          <p>Aprenda a planificar su tiempo para realizar diferentes
            actividades en su vida diaria.</p>

        </div>

      </div>

      <div id="nmm_module4_2">

        <div id="nmm_module4_2_Boton">

          <a href="#">
            Entrar
          </a>

        </div>

      </div>

    </div>

 </div>

</div>


{% endblock %}