{% extends 'core/base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}

<div id="m12_contenido_central">
    <div class="m12_contenedor" id="m12_contenedor1">
        <h1> VIDEOCONFERENCIA </h1>
        <div id="linea"></div>
    </div>
    <div  class="m12_contenedor" id="m12_contenedor2">
        <h1> PSICOEDUCACIÓN DEL BURNOUT </h1>
    </div>
    
    <div  class="m12_contenedor" id="m12_contenedor3">
        <p> Aquí le presento información sobre cómo es que se desarrolla el burnout, algunas consecuencias a nivel físico, emocional y comportamental, así como los factores que nos hacen más propensos a padecerlo.</p>
        <p>​Revise el material y responda a las cuestiones planteadas durante el video.</p>
        
        <figure class="swipe">
        <iframe src="https://www.swipe.to/embed/2548tc" allowfullscreen>
        </iframe></figure><style>figure.swipe{display:block;position:relative;padding-bottom:56.25%;height:0;overflow:hidden;}figure.swipe iframe{position:absolute;top:0;left:0;width:100%;height:100%;border:none;}
        </style>

        
        <p> Responda las siguientes 3 encuestas, al terminar dé clic en continuar.</p>
    

        <!-- Encuesta -->
        
        <!-- Encuesta fin -->
    
        <div id="m12_botones">
            <div id="m12_boton1" class="m12_boton">
                <a href={% url 'newmodule12' %}><button>Regresar</button></a>
            </div>
            <div id="m12_boton2" class="m12_boton">
                <a href={% url 'newmodule14' %}><button>Continuar</button></a>
            </div>
        </div>
        
    </div>
</div>

{% endblock %}