# Byte-compiled / optimized / DLL files
 vectorfroms/core/__pychache__
 vectorfroms/formv/__pychache__
 vectorfroms/modules/__pychache__
 vectorfroms/registration/__pychache__
 vectorfroms/vectorfroms/__pychache__