# Byte-compiled / optimized / DLL files
vectorfroms/core/__pycache__
vectorfroms/formv/__pycache__
vectorfroms/modules/__pycache__
vectorfroms/registration/__pycache__
vectorfroms/vectorfroms/__pycache__