/* Contenedor parallax */
#banner img{
    opacity: .8;
}

.parallax:before{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  -webkit-filter:brightness(.8);
  filter: brightness(.8);
}
div.contador{
  position: relative;
  height: auto;
}
div.contador:before{
  opacity: .5;
  background-image:url("../img/medica.jpg");
  content:'';
}
ul.resumen-evento {
  position: relative;
  padding: 120px 0;
}
ul.resumen-evento li{
  width: 100%;
  float: center;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Oswald',sans-serif;
  font-size: 24px;
}

p.titlep{
    color: rgb(0, 0, 0);
    font-size: 4em;
    display: block;
    margin: 0 0 10px 0;
}
.bordert{
  margin: auto;
  width: 10%;
  border-top: 8px solid rgba(61,118,132,1);
  margin-bottom: 10px;
}
p.titlep2{
  
  color: rgb(0, 0, 0);
  font-family: "Open Sans", sans-serif;
  font-size: 12pt;
  font-size: 2em;
  display: block;
  margin: 0 0 10px 0;
}

/* Contenedor 2  Bienvenida*/

.containerb{
  margin-top: 50px;
  text-align: center;
}

.containerb h1{
  font-size: 500%;
  color: #85200c;
  margin-bottom: 30px;
}

.containerb p{
  font-size: 300%;
  color: black;
  margin-bottom: 20px;
}
/* Fin  Contenedor 2  Bienvenida*/

/* Contenedor 3  Preguntas*/

.containerq{
  background-color:rgba(81,111,117,1) ;
  height: 300px;
}
.containerq img{
  padding-top: 20px;
  display: block;
  width: 8%;
  margin-left: auto;
  margin-right: auto;
  
}

.containerq ul{
  display: block;
  margin-left: 35%;
}
.containerq li{
  font-size: 100%;
  float: left;
  margin-left: 30px;
 
}