/* Estilos Generales */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  text-align: center;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    font-family: roboto;
}
#clearfix{
  float: none;
  clear: both;
}
/* Fin de Estilos Generales */
/*-----------------------------------------------------------------------------------------------------------------*/
/* Fonts */

@font-face{
    font-family: icons; 
    src: url(../fonts/websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular)format("svg"),
         url(../fonts/websymbols/websymbols-regular-webfont.eot);
    src: url(../fonts/websymbols/websymbols-regular-webfont.eot?#iefix)format("eot"),
         url(../fonts/websymbols/websymbols-regular-webfont.woff)format("woff"),
         url(../fonts/websymbols/websymbols-regular-webfont.ttf)format("truetype");
}
@font-face{
    font-family: roboto;
    src: url(../fonts/Roboto/Roboto-Black.ttf); 
}
@font-face{
    font-family: robotoLight;
    src: url(../fonts/Roboto/Roboto-Light.ttf); 
}
@font-face{
    font-family: robotoRegular;
    src: url(../fonts/Roboto/Roboto-Regular.ttf); 
}
@font-face{
    font-family: robotoMedium;
    src: url(../fonts/Roboto/Roboto-Medium.ttf); 
}
@font-face{
    font-family: robotoBold;
    src: url(../fonts/Roboto/Roboto-Bold.ttf); 
}

/* Fin Fonts ----------------------------------------------------------------------------------------------------------*/
/* Contenedor parallax ------------------------------------------------------------------------------------------------*/

#contenedor{
  width: 100%;
  height: 300px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url(../img/medica.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -250px;
  background-attachment: fixed;
}
#contenedor #texto{
  text-align: center;
}
#contenedor #texto .text1{
  font-family: robotoMedium;
  font-size: 75px;
  letter-spacing: 5px;
  margin-top: 20px;
}

#linea_text1{
  width: 5%;
  height: 7px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 20px;
  background-color: RGB(83,167,184);
}

#contenedor #texto #text2{
  font-family: robotoMedium;
  font-size: 40px;
  margin-top: 10px;
}
/* Contenedor parallax ------------------------------------------------------------------------------------------------*/
#linea1{
  width: 65%;
  height: 1px;
  background-color:RGB(217,217,217);
  margin: auto;
  margin-top: 10px;
}
/* Contenedor 2  Bienvenida--------------------------------------------------------------------------------------------*/

.containerb{
  margin-top: 50px;
  text-align: center;
}

.containerb h1{
  font-family: robotoMedium;
  font-size: 350%;
  color: #85200c;
  margin-bottom: 30px;
  
}

.containerb p{
  font-size: 180%;
  font-family: robotoLight;
  color: black;
  margin-bottom: 20px;
  line-height: 60px;
}
.containerb #pu{
  margin-bottom: 50px;
}
/* Contenedor 2  Bienvenida--------------------------------------------------------------------------------------------*/
/* Contenedor 3  Preguntas---------------------------------------------------------------------------------------------*/

.contenedor3a{
  width: 100%;
  min-height: 225px;
  background-color: #516F75;
}
#cont_img3{
  display: inline-flex;
  
}
#cont_img3 .img3{
  width: 180px;
  height: 180px;
  margin-top: 10px;
  
}
#cont_img3 .img3 img{
  width: 100%;
  height: 100%; 
}

#contenedor3b{
  display: inline-flex;
  margin-top: 20px;
}
#contenedor3b .cont_text3{
  width: 370px;
  height: 100px;
  margin-left: 10px;
  padding-bottom: 10px;
  border-bottom:1px solid RGB(137,157,161);
  
}
#contenedor3b .cont_text3 a{
  text-decoration: none;
  font-family: robotoMedium;
  font-size: 50px;
  color: white;
  cursor: pointer;
}
#contenedor3b .cont_text3 p{
  display: none;
}
#contenedor3b .cont_text3:hover p{
  display: block;
}
#contenedor3b .cont_text3 p{
  text-decoration: none;
  font-family: robotoMedium;
  font-size: 20px;
  color: white;
  margin-top: 30px;
}
.contenedor3b{
  width: 100%;
  min-height: 300px;
  background-color: #516F75;
}

/* botones */

#botones3{
  width: 100%;
  height: auto;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: RGB(223,233,235);
}

#bt3{
  display: flex;
  width: 60%;
  height: auto;
  margin: auto;
}
#bt3 .bt{
  width: 60px;
  height: 40px;
  margin: auto;
  background-color: RGB(81,111,117);
  border-radius: 5px;
  border: 1px solid white;
}
#bt3 .bt a{
  display: block;
  text-decoration: none;
  color: white;
  font-family: robotoMedium;
  font-size: 20px;
  line-height: 40px;
}

/* Contenedor 3  Preguntas---------------------------------------------------------------------------------------------*/

/* Contenedor 4  Instrucciones-----------------------------------------------------------------------------------------*/

#instrucciones{
  width: 50%;
  height: auto;
  padding: 40px;
  margin: auto;
}
#cont_instrucciones h1{
  font-family: robotoMedium;
  font-size: 300%;
  color: #85200c;
}
#cont_instrucciones p{
  font-size: 150%;
  font-family: robotoLight;
  color: black;
  margin-top: 20px;
  line-height: 40px;
}
/* Contenedor 4  Instrucciones-----------------------------------------------------------------------------------------*/
/* Contenedor 5 Instrucciones Imagenes---------------------------------------------------------------------------------*/

#instrucciones_imagenes{
  background-color: #DFE9EB;
  width: 100%;
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}
#instrucciones_central{
  display: flex;
  width: 65%;
  height: auto; 
  align-items: center;
  margin: auto;
}

.cont_imgs{
  margin: auto;
  width: 33%;
  height: 400px;
}

.cont_imgs .imgs img{
  width: 250px;
  height: 250px;
  margin: auto;
}

.cont_imgs .desc {
  margin-top: 70px;
  padding-right: 25px;
  padding-left: 25px;
}
.cont_imgs .desc p{
  font-family: robotRegular;
  font-size: 20px;
}



/* Contenedor 5 Instrucciones Imagenes---------------------------------------------------------------------------------*/
/* Contenedor 6 Boton comenzar-----------------------------------------------------------------------------------------*/
#boton_comenzar{
  width: 100%;
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  
}
#boton_comenzar button{
  background-color: #516F75;
  color: white;
  width: 400px;
  height: 50px;
  font-size: 20px;
  font-family: robotoLight;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid white;
  
}

#linea2{
  width: 65%;
  height: 1px;
  background-color: RGB(217,217,217);
  margin: auto;
  margin-bottom: 20px;
}
/* Contenedor 6 Boton comenzar-----------------------------------------------------------------------------------------*/