/* Estilos Generales */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  text-align: center;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    font-family: roboto;
}
#clearfix{
  float: none;
  clear: both;
}
/* Fin de Estilos Generales */
/*-----------------------------------------------------------------------------------------------------------------*/
/* Fonts */

@font-face{
    font-family: icons; 
    src: url(../fonts/websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular)format("svg"),
         url(../fonts/websymbols/websymbols-regular-webfont.eot);
    src: url(../fonts/websymbols/websymbols-regular-webfont.eot?#iefix)format("eot"),
         url(../fonts/websymbols/websymbols-regular-webfont.woff)format("woff"),
         url(../fonts/websymbols/websymbols-regular-webfont.ttf)format("truetype");
}
@font-face{
    font-family: roboto;
    src: url(../fonts/Roboto/Roboto-Black.ttf); 
}
@font-face{
    font-family: robotoLight;
    src: url(../fonts/Roboto/Roboto-Light.ttf); 
}
@font-face{
    font-family: robotoRegular;
    src: url(../fonts/Roboto/Roboto-Regular.ttf); 
}
@font-face{
    font-family: robotoMedium;
    src: url(../fonts/Roboto/Roboto-Medium.ttf); 
}
@font-face{
    font-family: robotoBold;
    src: url(../fonts/Roboto/Roboto-Bold.ttf); 
}
/*--------------------------------------------------------------------------------------------------*
/* Contenedor 1*/
#nmm_cont1{
    
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: RGB(223,233,235);
}
#nmm_contCentral_cont1{
    display: flex;
    width: 65%;
    height: auto;
    margin: auto;
}
#nmm_text_cont1{
    width: 50%;
    height: auto;
}
#nmm_text_cont1 h1{
    font-family: robotoBold;
    font-size: 65px;
    padding-top: 50px;
    line-height: 90px;
    color: RGB(43,93,104);
}
#nmm_img_cont1{
    width: 50%;
    height: auto;
}
#nmm_img_cont1 img{
    width: 70%;
    height: auto;
}
/* Contenedor 1*/
/*--------------------------------------------------------------------------------------------------*
/* Contenedor 2*/
#nmm_cont2{
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
#nmm_contCentral_cont2{
    width: 55%;
    height: auto;
    margin: auto;
    border-bottom:1px solid RGB(217,217,217);
    padding-bottom: 20px;
}
#nmm_contCentral_cont2 p{
    font-family: robotoRegular;
    font-size: 20px;
    letter-spacing: 3px;
    line-height: 35px;
    margin-top: 20px;
}
/* Contenedor 2*/
/*--------------------------------------------------------------------------------------------------*
/* Contenedor 3*/
#nmm_cont3{
    width: 100%;
    min-height: 1000px;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: RGB(81,111,117);
}

#nmm_contCentral3{
    width: 55%;
    min-height: 1000px;
    margin: auto;
}

/* Contenedor 3 modulo 1*/
#module1_nmm_cont3{
    display: flex;
    width: 100%;
    min-height: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid RGB(137,157,161);
}
#nmm_module1_1{
    width: 50%;
    height: 200px;
    border-bottom: 1px solid RGB(137,157,161);
}
#nmm_module1_1 h1{
    font-family: robotoMedium;
    font-size: 50px;
    color: white;
    margin-top: 50px;
}
#nmm_module1_1 h2{
    font-family: robotoMedium;
    font-size: 40px;
    color: white;
    margin-top: 20px;
}

#nmm_module1hover{
    display: none;
    padding-top: 3px;
}
#nmm_module1hover p{
    font-family: robotoRegular;
    font-size: 20px;
    margin-top: 20px;
}
#nmm_module1_1:hover {
    height: 400px;
}
#nmm_module1_1:hover #nmm_module1hover{
    color: white;
    height: 200px;
    margin-top: 10px;
    border-top:1px solid RGB(137,157,161);
    display: block;
}

#nmm_module1_2{
    width: 50%;
    height: 200px;
}
#nmm_module1_2_Boton{
    width: 120px;
    height: 30px;
    margin: auto;
    margin-top: 85px;
    background-color: white;
    
}
#nmm_module1_2_Boton a{
    display: block;
    font-family: robotoMedium;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    color: RGB(83,134,146);
}
/* Contenedor 3 modulo 1*/
/* Contenedor 3 modulo 2*/
#module2_nmm_cont3{
    display: flex;
    width: 100%;
    min-height: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid RGB(137,157,161);
}
#nmm_module2_1{
    width: 50%;
    height: 200px;
    border-bottom: 1px solid RGB(137,157,161);
}
#nmm_module2_1 h1{
    font-family: robotoMedium;
    font-size: 50px;
    color: white;
    margin-top: 50px;
}
#nmm_module2_1 h2{
    font-family: robotoMedium;
    font-size: 40px;
    color: white;
    margin-top: 20px;
}

#nmm_module2hover{
    display: none;
    padding-top: 3px;
}
#nmm_module2hover p{
    font-family: robotoRegular;
    font-size: 20px;
    line-height: 50px;
    margin-top: 30px;
}
#nmm_module2_1:hover {
    height: 400px;
}
#nmm_module2_1:hover #nmm_module2hover{
    color: white;
    height: 200px;
    margin-top: 10px;
    border-top:1px solid RGB(137,157,161);
    display: block;
}

#nmm_module2_2{
    width: 50%;
    height: 200px;
}
#nmm_module2_2_Boton{
    width: 120px;
    height: 30px;
    margin: auto;
    margin-top: 85px;
    background-color: white;
    
}
#nmm_module2_2_Boton a{
    display: block;
    font-family: robotoMedium;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    color: RGB(83,134,146);
}
/* Contenedor 3 modulo 2 */
/* Contenedor 3 modulo 3 */
#module3_nmm_cont3{
    display: flex;
    width: 100%;
    min-height: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid RGB(137,157,161);
}
#nmm_module3_1{
    width: 50%;
    height: 200px;
    border-bottom: 1px solid RGB(137,157,161);
}
#nmm_module3_1 h1{
    font-family: robotoMedium;
    font-size: 50px;
    color: white;
    margin-top: 50px;
}
#nmm_module3_1 h2{
    font-family: robotoMedium;
    font-size: 40px;
    color: white;
    margin-top: 20px;
}

#nmm_module3hover{
    display: none;
    padding-top: 25px;
}
#nmm_module3hover p{
    font-family: robotoRegular;
    font-size: 20px;
    line-height: 50px;
    margin-top: 30px;
}
#nmm_module3_1:hover {
    height: 400px;
}
#nmm_module3_1:hover #nmm_module3hover{
    color: white;
    height: 200px;
    margin-top: 10px;
    border-top:1px solid RGB(137,157,161);
    display: block;
}

#nmm_module3_2{
    width: 50%;
    height: 200px;
}
#nmm_module3_2_Boton{
    width: 120px;
    height: 30px;
    margin: auto;
    margin-top: 85px;
    background-color: white;
    
}
#nmm_module3_2_Boton a{
    display: block;
    font-family: robotoMedium;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    color: RGB(83,134,146);
}
/* Contenedor 3 modulo 3 */
/* Contenedor 3 modulo 4 */
#module4_nmm_cont3{
    display: flex;
    width: 100%;
    min-height: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid RGB(137,157,161);
}
#nmm_module4_1{
    width: 50%;
    height: 200px;
    border-bottom: 1px solid RGB(137,157,161);
}
#nmm_module4_1 h1{
    font-family: robotoMedium;
    font-size: 50px;
    color: white;
    margin-top: 50px;
}
#nmm_module4_1 h2{
    font-family: robotoMedium;
    font-size: 40px;
    color: white;
    margin-top: 20px;
}

#nmm_module4hover{
    display: none;
    padding-top: 25px;
}
#nmm_module4hover p{
    font-family: robotoRegular;
    font-size: 20px;
    line-height: 50px;
    margin-top: 30px;
}
#nmm_module4_1:hover {
    height: 400px;
}
#nmm_module4_1:hover #nmm_module4hover{
    color: white;
    height: 200px;
    margin-top: 10px;
    border-top:1px solid RGB(137,157,161);
    display: block;
}

#nmm_module4_2{
    width: 50%;
    height: 200px;
}
#nmm_module4_2_Boton{
    width: 120px;
    height: 30px;
    margin: auto;
    margin-top: 85px;
    background-color: white;
    
}
#nmm_module4_2_Boton a{
    display: block;
    font-family: robotoMedium;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    color: RGB(83,134,146);
}
/* Contenedor 3 modulo 4 */

/* Contenedor 3*/