{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
	<!-- Banner -->
					<section id="banner">
						<div class="inner">
							
							<h2>Residencia en Medicina Conductual</h2>
							
						</div>
					</section>
<!-- Wrapper -->
					<section id="wrapper">

						<!-- One -->
							<section id="one" class="wrapper spotlight style1">
								<div class="inner">
									<a href="#" class="image"><img src="{% static  'core/img/psi.jpg' %}" alt="" /></a>
									<div class="content">
										
										<p>La Universidad Nacional Autónoma de México, dentro del posgrado en Psicología, ofrece la residencia en Medicina Conductual, el cual es un campo interdisciplinario de investigación y de práctica clínica enfocado en las interacciones entre el ambiente físico y social, la cognición, conducta y biología en la salud y la enfermedad.</p>
										
									</div>
								</div>
							</section>

						<!-- Two -->
							<section id="two" class="wrapper alt spotlight style2">
								<div class="inner">
									<a href="#" class="image"><img src="{% static  'core/img/cues.png' %}" alt="" /></a>
									<div class="content">
										
										<p>La residencia en Medicina Conductual programa  de nivel maestría diseñado y desarrollado en la FES Iztacala ubicada en Av. de Los Barrios 1, Los Reyes Ixtacala, Tlalnepantla de Baz, México, C.P. 54090 . </p>
									
									</div>
								</div>
							</section>

						<!-- Three -->
							<section id="three" class="wrapper spotlight style3">
								<div class="inner">
									<a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
									<div class="content">
										
										<p>Actualmente la residencia pone a sus servicios diversos talleres virtuales diseñados e impartidos por estudiantes, quienes cuentan con preparación en psicología clínica y de la salud bajo enfoque cognitivo-conductual. </p>
										
										
									</div>
								</div>
							</section>
							

				<!-- Footer -->
					<section id="footer">
						<div class="inner">
							<img src="{% static 'core/img/logounam.jpg'%}" alt="" style="width: 150px; margin-left: 0px;  opacity: 0.5;" >
							<img src="{% static 'core/img/logoiztacala.jpg'%}" alt="" style="width: 150px; margin-left: 500px;  opacity: 0.5;">
							<p style='text-align: center;'>Universidad Nacional Autónoma de México<br/>
							
							Residencia en Medicina Conductual FES Iztacala<br/>
                            https://www.medicinaconductual-unam-fesi.org/
							</p>
                            <p style='text-align: center;'>
                            Contacto: medicinaconductualiztacala@gmail.com
							</p>
							<ul class="copyright" style='text-align: center;'>
								<li>&copy;Todos lo derechos reservados. </li><li>2020</a></li>
								<li class="icon brands fa-twitter"><a href="#">twitter</a></li>
								<li class="icon brands fa-facebook-f"><a href="#">facebook</a></li>
								<li class="icon brands fa-instagram"><a href="#">instagram</a></li>
							</ul>
						</div>
					</section>

			</div>

{% endblock %}