{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
<!--Contenedor1----------------------------------------------------------------------------------------------------------->
<div id="contenedor1">
	
	<div id="img_cont1">
		<!-- imagen en background -->
	</div>

</div>
<!--Contenedor1----------------------------------------------------------------------------------------------------------->
<!--Contenedor2 Central--------------------------------------------------------------------------------------------------->
<div id="cont2">
	<div id="contenedor2">
		<!-- Sub 1 Body about -->
		<div class="contenedores2">
			<div class="subcontenedores2" id="texto1_cont2">
			<p>Programa de maestría y doctorado en Psicología</p> 
			<p>Residencia en Medicina Conductual Fes Iztacala</p>
			</div>
			<!---->
			<div class="subcontenedores2" id="img1_cont2">
			<img src="{% static 'core/img/posgrado.jpg'%}">
			</div>
		</div>
		<!-- Sub  Body about -->
		<div class="contenedores2">
			<div class="subcontenedores2" id="img2_cont2">
				<img src="{% static 'core/img/iztacala.jpeg'%}">
			</div>
			<!---->
			<div class="subcontenedores2" id="text2_cont2"> 
				<p> Medicina Conductual es un campo interdisciplinario de </br>
				investigación y de práctica clínica que se enfoca en las </br>
				interacciones entre el ambiente físico y social, la cognición,</br>
				conducta y biología, en la salud y la enfermedad, supone un </br>
				abordaje integral del paciente partiendo de la evidencia empírica</br>
				que revela que la conducta puede generar enfermedades, así como </br>
				que las enfermedades modifican el comportamiento.  
				</p>
			</div>
		</div>
		<!-- Sub  Body about -->
		<div class="contenedores2">
			<div class="subcontenedores2" id="text3_cont2">
				<p> El objetivo de la residencia impartida en la Facultad de Estudios
				Superiores Iztacala, es formar especialistas en Medicina Conductual 
				en el marco de un programa de posgrado de alta excelencia
				académica, a través de sus más de 2,400 horas de práctica
				supervisada en ámbitos hospitalarios.  
				</p>
			</div>
			<!---->
			<div class="subcontenedores2" id="img3_cont2">
				<img src="{% static 'core/img/equipo.jpeg'%}">
			</div>
		</div>
	</div>
</div>
<!--Contenedor2 Central--------------------------------------------------------------------------------------------------->
<!-- Contenedor3 el especialista ----------------------------------------------------------------------------------------->
<div id="contenedor3">
	<div id="central_cont3">
		<h2>
			El especialista en medicina conductual...
		</h2>
		<ul>
			<li>▪ Trabaja bajo un marco teórico cognitivo-conductual.</li>
			<li>▪ Emplea los principios, técnicas y procedimientos derivados de la terapia de conducta.</li>
			<li>▪ Utiliza metodología científica en su trabajo cotidiano, por lo que evalúa cuidadosamente las condiciones de su paciente antes y después de su intervención.</li>
			<li>▪ Diseña estrategias de intervención ajustadas a las necesidades de cada paciente, derivadas del análisis funcional.</li>
			<li>▪ Considera el contexto de vida del paciente, así como sus fuentes de apoyo social para la planificación de sus intervenciones.</li>
			<li>▪ Emplea técnicas de intervención con eficacia probada. </li>
			<li>▪ Establece comunicación adecuada con el equipo médico, para la atención integral de los pacientes.​</li>
			<li>▪ Trabaja de forma multidisciplinaria en instituciones de salud.</li>
		</ul>
	</div>
</div>
<!-- Contenedor el mapa y pagina oficial -->
<div id="contenedor4">  
	<div id="central_cont4">
		<div class="contenedores4">
			<h1>Ubicación</h1>
			<div id="mapa">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2235.9070782915724!2d-99.18825166120496!3d19.527333806624743!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x651d9f58ada759d!2sFacultad%20de%20Estudios%20Superiores%20Iztacala%20UNAM!5e0!3m2!1ses-419!2smx!4v1613589911945!5m2!1ses-419!2smx" width="600" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
			</div>
			
		</div>
		<div class="contenedores4">

			<div id="boton">
				<a href="#">Ingrese a la página oficial</a>
			</div>
			<p>Contacto:</p>
			<p>medicinaconductualiztacala@gmail.com</p>
			
		</div>
	</div>
</div>
<!-- Contenedor conozca mas talleres -->
<div id="talleres">
	<h1>
	Conozca más talleres ofertados por la <br> residencia
	</h1>
	<div>
		<img src="../../static/core/img/EmbeddedImage.png" alt="">
	</div>
</div>
{% endblock %}