{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
<!-- Banner img -->
<div>
<img>
</div>
<!-- Body about -->
<div>
	<!-- Sub 1 Body about -->
	<div>
		<div>
		<h1>Programa de maestría y doctorado en Psicología Residencia en Medicina Conductual Fes Iztacala </h1>
		</div>
		<!---->
		<div>
		<img src="{% static 'core/img/posgrado.jpg'%}">
		</div>
	</div>
	<!-- Sub  Body about -->
	<div>
		<div>
			<img src="{% static 'core/img/iztacala.jpeg'%}">
		</div>
		<!---->
		<div>
			<p> Medicina Conductual es un campo interdisciplinario de investigación y de </br>
			práctica clínica que se enfoca en las </br>
			interacciones entre el ambiente físico y social, la cognición,</br>
			conducta y biología, en la salud y la enfermedad, supone un </br>
			abordaje integral del paciente partiendo de la evidencia empírica</br>
			que revela que la conducta puede generar enfermedades, así como </br>
			que las enfermedades modifican el comportamiento.  
			</p>
		</div>
	</div>
	<!-- Sub  Body about -->
	<div>
		<div>
			<p> El objetivo de la residencia impartida en la Facultad de Estudios
			 Superiores Iztacala, es formar especialistas en Medicina Conductual 
			 en el marco de un programa de posgrado de alta excelencia
			  académica, a través de sus más de 2,400 horas de práctica
			   supervisada en ámbitos hospitalarios.  
			</p>
		</div>
		<!---->
		<div>
			<img src="{% static 'core/img/equipo.jpeg'%}">
		</div>
	</div>
</div>

<!-- Contenedor el especialista -->
<div>
	<h2>
		El especialista en medicina conductual...
	</h2>
	<ul>
		<li>Trabaja bajo un marco teórico cognitivo-conductual.</li>
		<li>Emplea los principios, técnicas y procedimientos derivados de la terapia de conducta.</li>
		<li>Utiliza metodología científica en su trabajo cotidiano, por lo que evalúa cuidadosamente las condiciones de su paciente antes y después de su intervención.</li>
		<li>Diseña estrategias de intervención ajustadas a las necesidades de cada paciente, derivadas del análisis funcional.</li>
		<li>Considera el contexto de vida del paciente, así como sus fuentes de apoyo social para la planificación de sus intervenciones</li>
		<li>Emplea técnicas de intervención con eficacia probada. </li>
		<li>Establece comunicación adecuada con el equipo médico, para la atención integral de los pacientes.​</li>
		<li>Trabaja de forma multidisciplinaria en instituciones de salud.</li>
	</ul>
</div>
<!-- Contenedor el mapa y pagina oficial -->
<div>
	<div>
		<img>
	</div>
	<div>
		<button>
		<p>Contacto:</p>
		<p>medicinaconductualiztacala@gmail.com</p>
	</div>
</div>
<!-- Contenedor conozca mas talleres -->
<div>
	<h1>
	Conozca más talleres ofertados por la residencia
	</h1>
	<img>
</div>
{% endblock %}