{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<!-- Banner img -->
<div>
    <div> <h1>REQUISITOS DE INSCRIPCION</h> </div>
    <div>
    <img src="{% static 'core/img/terapeuta.jpg'%}" >
    </div>
</div>
<!-- Body about -->
<div>
    <div>
        <img src="{% static 'core/img/doc.jpg'%}">
    </div>
    <!---->
    <div>
        <p>Ser profesional de salud. </p>
        <p> Disponibilidad de tiempo durante al menos 4 semanas consecutivas. </p>
        <p>Participación activa en las actividades tanto dentro como fuera de la plataforma.</p>
        <p>Acceso a internet. </p>
        <p>Cuaderno de apuntes (opcional). </p>
    </div>
</div>

{% endblock %}