{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div id="aquien_contCentral">

    <div id="aquien_cont1">

        <div id="aquien_textCont1">
             <h1>REQUISITOS DE INSCRIPCION</h> 
        </div>

        <div id="aquien_imgCont1">

            <img src="{% static 'core/img/terapeuta.jpg'%}" >

        </div>
        
    </div>

</div>

<div id="aquien_contCentra2">
    <div id="aquien_cont2">

        <div id="aquien_imgCont2">

            <img src="{% static 'core/img/doc.jpg'%}">

        </div>
        
        <div id="aquien_textCont2">

            <p> ▪ Ser profesional de salud. </p>
            <p> ▪ Disponibilidad de tiempo durante al menos 4 semanas consecutivas. </p>
            <p> ▪ Participación activa en las actividades tanto dentro como fuera de la plataforma.</p>
            <p> ▪ Acceso a internet. </p>
            <p> ▪ Cuaderno de apuntes (opcional). </p>

        </div>

    </div>
</div>

{% endblock %}