<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>
    {% load static %}
    <!-- Fuentes -->


    <!-- Estilos -->
    <link href="{% static 'core/css/main.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/home.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/about.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/modules.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'core/css/enqueconsiste.css' %}">


	<link rel="stylesheet" href="{% static  'core/css/cookiecss.css' %}" />
  </head>

  <header>
    <!-- Inicia Contenedor Menu  -------------------------------------------------------------------------------------->
    <div id="menu">

        <!--contenedor secundario menu diana-->
        <div id="menu_imagenTexto">
            <div id="logo_menu">
                <img src="{% static  '/core/img/iztacala.jpeg' %}" alt="#"> 
            </div>
            <div>
                <h1><a href="{% url 'home' %}">Medicina Conductual</a></h1>
            </div>
            
        </div>
        <!--contenedor secundario  diana-->

        <!--contenedor secundario elementos del menu-->
        <div id="menu_elementos">

            <div class="buscador"> 
                <a href="#">L</a>
            </div>
            <div class="menu_elementos" id="menu_modulos">
                <a href="{% url 'newmodulemain' %}">Módulos</a> 
                <ul>
                    <li>
                        <a href="{% url 'newmodule1' %}">Psicoeducación</a>
                    </li>
                    <li>
                        <a href="#">Módulo II</a>
                    </li>
                    <li>
                        <a href="#">Módulo III</a>
                    </li>
                    <li>
                        <a href="#">Módulo IV</a>
                    </li>
                </ul>
            </div>
            {% if not request.user.is_authenticated %}
            <div class="menu_elementos">
                <a href="{% url 'form' %}">Registro</a>
               
            </div>
            <div class="menu_elementos">
                <a href="{% url 'login' %}">Acceder</a>
            </div>
            {% else %}
            <div class="menu_elementos">
                <a href="{% url 'logout' %}">Salir</a>
            </div>
            {% endif %}
            <div class="menu_elementos">
                <a href="{% url 'about' %}">¿Quiénes somos?</a>
            </div>
            <div class="menu_elementos">
                <a href="{% url 'home' %}" id="in">Inicio</a>
            </div>

        </div>
        <!--contenedor secundario elementos del menu-->

    </div>
    <!-- Finaliza Contenedor Menu ------------------------------------------------------------------------------------ -->
  </header>

  <body>  
 
<!-- Contenido dinamico -->
{% block content %}{% endblock %}
<!-- Fin del Contenido dinamico -->

<!-- Footer -->
<div id="footer">
  
    <img src="{% static 'core/img/oro.png' %}" >
    <p style='text-align: center;'>E-mail: 310154037@iztacala.unam.mx <br/>
    <p>&copy;Todos lo derechos reservados. 2021</p>
    
</div>
<!-- Fin Footer -->   

<!-- Cookies -->
<div class="cookie-container">
  <p>
    Usamos cookies en este sitio web para brindarle la mejor experiencia en nuestro sitio y mostrarle anuncios relevantes. Para obtener más información, lea nuestra
  <a href="#">política de privacidad </a> y <a href="#">política de cookies.</a>.
  </p>

<button class="cookie-btn">
  <p> Acepto  </p>
</button>
</div>


<!-- Javascript -->
<script src="{% static 'core/js/util.js' %}"></script>
<script src="{% static 'core/js/cookiejs.js' %}"></script>
<script src="{% static 'core/js/main.js' %}"></script>
  </body>
</html>
