{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
	<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<div class="logo"><img src="{% static  'core/img/unam.svg' %}" alt="Girl in a jacket" width="100" ></div>
							<h2>Taller en línea: Estrategias de acción ante el burnout</h2>
							<p style='text-align: left;'>¡Bienvenidos! Usted es parte de nuestro grupo de profesionales interesados por su salud y bienestar emocional y agradecemos su interés por participar.</p>
							<p style='text-align: right;'>Como psicólogos especialistas en medicina conductual, tenemos el objetivo de brindarle las mejores herramientas, basadas en evidencia científica, que tengan por objetivo prevenir y disminuir niveles de Burnout.</p>
						</div>
					</section>
<!-- Wrapper -->
					<section id="wrapper">

						<!-- One -->
							<section id="one" class="wrapper spotlight style1">
								<div class="inner">
									<a href="#" class="image"><img src="{% static  'core/img/psi.jpg' %}" alt="" /></a>
									<div class="content">
										<h2 class="major">Conozca a la responsable del taller:</h2>
										<h3 class="major">Psicóloga Diana Perez</h3>
										<p>Licenciada en Psicología por la UNAM, actualmente residente del programa de Maestría en Medicina Conductual FES Iztacala, asignada al servicio de Salud Mental Comunitaria del Hospital Juárez de México.</p>
										
									</div>
								</div>
							</section>

						<!-- Two -->
							<section id="two" class="wrapper alt spotlight style2">
								<div class="inner">
									<a href="#" class="image"><img src="{% static  'core/img/cues.png' %}" alt="" /></a>
									<div class="content">
										<h3 class="major">Antes de continuar, por favor responda un breve cuestionario.</h3>
										
										<a href="#" class="special">Ir a cuestionario.</a>
									</div>
								</div>
							</section>

						<!-- Three -->
							<section id="three" class="wrapper spotlight style3">
								<div class="inner">
									<a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
									<div class="content">
										<h2 class="major">MENSAJE DE BIENVENIDA</h2>
										<p>Lorem ipsum dolor sit amet, etiam lorem adipiscing elit. Cras turpis ante, nullam sit amet turpis non, sollicitudin posuere urna. Mauris id tellus arcu. Nunc vehicula id nulla dignissim dapibus. Nullam ultrices, neque et faucibus viverra, ex nulla cursus.</p>
										<video class="mx-auto" controls>
											<source src="{% static 'core/video/welcome.mp4'%}" type="video/mp4">
											<source src="movie.ogg" type="video/ogg">
											Your browser does not support the video tag.
										</video>
										<a href="#" class="special">Learn more</a>
									</div>
								</div>
							</section>

						<!-- Four -->
							<section id="four" class="wrapper alt style1">
								<div class="inner">
									<h2 class="major">Módulos de trabajo</h2>
									<p>Inicie sesión para tener acceso a ellos</p>
									<section class="features">
										<article>
											<a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
											<h3 class="major">Modulo 1</h3>
											<p>Psicoeducación</p>
											<a href="{% url 'modules1' %}" class="special">Learn more</a>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
											<h3 class="major">Modulo 2</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
											<a href="{% url 'modules2' %}" class="special">Learn more</a>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
											<h3 class="major">Modulo 3</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
											<a href="{% url 'modules3' %}" class="special">Learn more</a>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic07.jpg" alt="" /></a>
											<h3 class="major">Modulo 4</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
											<a href="{% url 'modules1' %}" class="special">Learn more</a>
										</article>
									</section>
									<ul class="actions">
										<li><a href="#" class="button">Browse All</a></li>
									</ul>
								</div>
							</section>

					</section>

				<!-- Footer -->
					<section id="footer">
						<div class="inner">
							<h2 class="major">Get in touch</h2>
							<p>Cras mattis ante fermentum, malesuada neque vitae, eleifend erat. Phasellus non pulvinar erat. Fusce tincidunt, nisl eget mattis egestas, purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac elementum arcu. Quisque placerat auctor laoreet.</p>
							
							<ul class="contact">
								<li class="icon solid fa-home">
									Untitled Inc<br />
									1234 Somewhere Road Suite #2894<br />
									Nashville, TN 00000-0000
								</li>
								<li class="icon solid fa-phone">(000) 000-0000</li>
							
								<li class="icon brands fa-twitter"><a href="#">twitter.com/untitled-tld</a></li>
								<li class="icon brands fa-facebook-f"><a href="#">facebook.com/untitled-tld</a></li>
								<li class="icon brands fa-instagram"><a href="#">instagram.com/untitled-tld</a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; Untitled Inc. All rights reserved.</li><li>Design: lo</a></li>
							</ul>
						</div>
					</section>

			</div>

{% endblock %}