{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<!-- Seccion Banner -->
<section id="banner">
	 <div class="contador parallax">
               <ul class="resumen-evento clearfix">
                   <li><p class="titlep">ESTRATEGIAS DE ACCIÓN </p>
				   		<p class="titlep"> ANTE EL BURNOUT</p>
						   <div class="bordert"></div>
						<p class="titlep2">TALLER EN LÍNEA PARA PROFESIONALES DE LA SALUD</p>
				   </li>  
               </ul>
    </div>  
</section>
<!-- Seccion Banner Fin-->
<div id="clearfix"></div>
<!-- Seccion Bienvenida -->
<section class="containerb">
	<div>
		<h1>¡Bienvenido(a)! </h1>
		<p>Si a causa de su labor profesional, se ha sentido agotado(a) <br>
		física y emocionalmente, este taller virtual es para usted.  <p>
		<p id="pu">Conozca más sobre este programa.</p>
	</div>
</section>
<!-- Seccion Bienvenida Fin-->
<div id="clearfix"></div>
<!-- Seccion ?-->
<section class="contenedor3a">
	<div id="cont_img3">
		<div class="img3">
			<img src="../../static/core/img/consiste.png" alt="">
		</div>
	</div>
</section>
<section class="contenedor3b">	
	<div id="contenedor3b">

		<div class="cont_text3">
		<a>¿En qué consiste?</a>
		<p>Se trata de un taller en línea asincrónico y gratuito en el que,
		 a lo largo de cuatro módulos, aprenderá habilidades psicológicas para 
		 manejar el burnout que pudiera estar  presente a causa de su labor profesional.</p>
		</div>

		<div class="cont_text3">
		<a>¿A quién se dirige?</a>
		<p>Se trata de un taller en línea asincrónico y gratuito en el que,
		 a lo largo de cuatro módulos, aprenderá habilidades psicológicas para 
		 manejar el burnout que pudiera estar  presente a causa de su labor profesional.</p>
		</div>

		<div class="cont_text3">
		<a>¿En qué consiste?</a>
		<p>Se trata de un taller en línea asincrónico y gratuito en el que,
		 a lo largo de cuatro módulos, aprenderá habilidades psicológicas para 
		 manejar el burnout que pudiera estar  presente a causa de su labor profesional.</p>
		</div>
		

	</div>
</section>
<section id="botones3">
	
</section>
<!-- Seccion ? Fin-->
<div id="clearfix"></div>
<!-- Seccion Instrucciones-->
<section id="instrucciones">
	<div id="cont_instrucciones">
	<h1>Instrucciones para participar</h1>
	<p> Adquirir habilidades requiere esfuerzo, compromiso y práctica constante, por lo que es
	 necesario que participe activamente en el taller y realice los ejercicios, actividades 
	 semanales, cuestionarios de evaluación y discusiones en el foro.</p>
	</div>
</section>

<!-- Seccion Instrucciones Fin-->
<div id="clearfix"></div>

<!-- Seccion Instrucciones imagenes-->
<section id="instrucciones_imagenes">
	<div id="instrucciones_central">
		<div class="img_instrucciones">
			<div class="img5">
				<img src="{% static 'core/img/verificar.png'%}">
			</div>
			<p>
			Regístrese y responda el cuestionario de Burnout.
			</p>
		</div>
		<div class="img_instrucciones">
			<div class="img5">
				<img src="{% static 'core/img/tableta.png'%}">
			</div>
			<p>
			Ingrese a los módulos durante 4 semanas consecutivas
			 para visualizar los materiales de aprendizaje.
			</p>
		</div>
		<div class="img_instrucciones">
			<div class="img5">
				<img src="{% static 'core/img/certificado.png'%}">
			</div>
			<p>
			Realice los ejercicios y prácticas de cada módulo,
			 responda breves evaluaciones y participe en foros de discusión, 
			 así podrá obtener su constancia.
			</p>
		</div>
	</div>
</section>
<!-- Seccion Instrucciones imagenes--> 
<!-- Seccion Boton comenzar--> 
<div id="boton_comenzar">
     <a href="{% url 'consentimiento' %}"><button>Empezar</button></a>
</div> 
<!-- Seccion Boton comenzar-->

{% endblock %}