{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<!-- Banner img -->
<div id="quien_cont1">
    
    <div id="quien_cont1Central">

        <div id="quien_text_cont1">  
        
            <h1>CONOZCA A LA RESPONSABLE DEL TALLER</h1> 
        
        </div>
    
        <div id="quien_img_cont1">
    
            <img src="{% static 'core/img/iztacala.jpeg'%}">
    
        </div>

    </div>

</div>

<div id="quien_cont2">

    <div id="quien_cont2Central">

        <div id="quien_img_cont2">

            <img src="{% static 'core/img/dna.jpeg'%}">
    
        </div>
    
        <div id="quien_text_cont2">
    
            <h2>Lic. en Psic. Diana Graciela Pérez Jiménez</h2>
            <p> Licenciada en Psicología, actualmente residente del programa de Maestría en Medicina Conductual de la Facultad de Estudios Superiores Iztacala, UNAM.</p>
            <p>Ced. Prof. 10902506</p>
            <p>Contacto: 310154037@iztacala.unam.mx    </p>
            <p>Equipo de supervisión: </p>
            <p>Dra. Maricela Osorio Guzmán </p>
            <p>Dra. María Cristina Bravo González </p>
            <p>Mtra. Maetzin Itzel Ordaz Carrillo </p>
            <p>Mtro. Roberto Miguel</p>
            <p>Proyecto financiado por el Consejo Nacional de Ciencia y Tecnología (CONACYT)</p>
    
        </div>

    </div>

</div>

{% endblock %}