{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<!-- Banner img -->
<div>
    <div> <h1>REQUISITOS DE INSCRIPCION</h> </div>
    <div>
    <img src="{% static 'core/img/iztacala.jpeg'%}" >
    </div>
</div>
<!-- Body about -->
<div>
    <div>
        <img src="{% static 'core/img/dna.jpeg'%}">
    </div>
    <!---->
    <div>
        <h2>Lic. en Psic. Diana Graciela Pérez Jiménez</h2>
        <p> Licenciada en Psicología, actualmente residente del programa de Maestría en Medicina Conductual de la Facultad de Estudios Superiores Iztacala, UNAM.</p>
        <p>Ced. Prof. 10902506</p>
        <p>Contacto: 310154037@iztacala.unam.mx    </p>
        <p>Equipo de supervisión: </p>
        <p>Dra. Maricela Osorio Guzmán </p>
        <p>Dra. María Cristina Bravo González </p>
        <p>Mtra. Maetzin Itzel Ordaz Carrillo </p>
        <p>Mtro. Roberto Miguel</p>
        <p>Proyecto financiado por el Consejo Nacional de Ciencia y Tecnología (CONACYT)</p>
    </div>
</div>

{% endblock %}