{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<div>
<h1> CONSENTIMIENTO INFORMADO </h1>
</div>

<div>

  <p> Estimado (a) participante: Por favor lea con atención el siguiente formato, si tiene alguna duda puede aclararla con la 
  Lic. en Psic. Diana Graciela Pérez Jiménez. </p>

  <p> La Universidad Nacional Autónoma de México a través de la Residencia en Medicina Conductual sede FES Iztacala, le 
  ofrece participar voluntariamente en el taller en línea: Estrategias de acción ante el burnout, a cargo de la Lic. en Psic.
   Diana Graciela Pérez Jiménez, quien actualmente está cursando estudios de posgrado en Psicología. </p>

  <p> Este taller se basa en una relación participante-facilitador quienes trabajan en colaboración en la búsqueda de un
   objetivo común: favorecer la adquisición de estrategias psicológicas para la modificación del comportamiento y el 
   manejo de síntomas de burnout. </p>

  <p> Antes de decidir iniciar su participación, es muy importante que entienda con claridad sus derechos y
   responsabilidades como participante. </p>

  <p> El proceso de trabajo en este taller inicia con la evaluación, en la cual se recolectan datos que permiten identificar áreas
   de trabajo concretas; posteriormente se proporcionan diversos materiales y ejercicios elaborados desde el enfoque 
   cognitivo-conductual. Su participación en el taller está considerada durante 4 semanas aproximadamente. </p>

  <p> El taller se brindará a través de las Tecnologías de Información y Comunicación (TICs) utilizando aparatos electrónicos
   para el fin expuesto, a partir de diversas plataformas (Gmail, Meet, Flipgrid, entre otras).</p>

  <p> Durante su participación obtendrá beneficios, sin embargo, también se pueden presentar riesgos e incomodidades, 
  debido a que en los contenidos del taller se abordan temas delicados que le pueden provocar respuestas emocionales
   de tristeza, enojo, llanto, entre otros; para que el facilitador le pueda brindar una adecuada retroalimentación y se 
   obtengan resultados favorables es necesario que proporcione toda la información que se le solicite de forma veraz y 
   confiable. Por otro lado, al hacer uso de las TICs también puede haber riesgos como comunicación intermitente,
    lentitud o fallas en la conexión. </p>

  <p> Es importante considerar que la participación de talleres en línea presenta los mismos beneficios de la modalidad 
  presencial como mejorar la calidad de vida, disminuir el malestar emocional y adquisición de estrategias para la
   modificación del comportamiento. Adicionalmente, la modalidad a distancia promueve ciertas ventajas tales como: 
   disposición de tiempo dentro del horario de atención, atención a medidas sanitarias y evitar desplazamiento a un
    consultorio físico. </p>

  <p> La decisión de participar en el taller es completamente voluntaria, destacando la importancia del cumplimiento en la 
  revisión de contenidos y en la realización de los ejercicios sugeridos. No habrá ninguna consecuencia desfavorable para 
  usted, en caso de no aceptar participar. Si decide hacerlo, puede retirarse en el momento que lo desee, pudiendo 
  informar o no, las razones de su decisión, las cuales serán respetadas en su integridad. </p>
  <p> La información de sus datos personales es de carácter confidencial; no serán divulgados a terceros ajenos, ni su 
  identidad. En el caso de que su información fuera utilizada con fines de investigación se eliminará cualquier fuente de
   información de identificación personal, respetando su derecho a la confidencialidad de la información. Para una 
   revisión exhaustiva del uso de datos personales, le invitamos a consultar el Aviso de Privacidad Integral de la Facultad 
   de Estudios Superiores Iztacala, en el enlace https://www.iztacala.unam.mx/ap.php </p>

  <a href={% url 'signup' %}><button>Empezar</button></a>
  
</div>

{% endblock %}


{% comment %} {% extends 'core/base.html' %}
{% load static %}
{% block title %}from{% endblock %}
{% block content %}


<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/contact.jpg' %}" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-11 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-6 text-center" style="padding-bottom: 30px;">
              <span class="section-heading-upper">CONSENTIMIENTO INFORMADO DE PARTICIPACIÓN</span>
            </h2>
             <h2 class="section-heading mb-6 text-center" style="padding-bottom: 30px;">
              <span class="section-heading-upper">TALLER DE INTERVENCIÓN EN LÍNEA: ESTRATEGIAS DE ACCIÓN ANTE EL BURNOUT
</span>
            </h2>
            <h4 class="section-heading mb-6">
                Le invitamos a que participe en este taller de intervención por parte de la Residencia en Medicina Conductual con sede en Facultad de Estudios Superiores Iztacala. En los siguientes párrafos se explican los objetivos del taller y cuál sería su papel si usted decide participar en el mismo, por lo que usted conocerá la información necesaria para realizar una decisión informada acerca de si decide o no participar en el taller.
            </h4>
             <h4 class="section-heading mb-6">
                OBJETIVO: El propósito del taller es disminuir y prevenir niveles de burnout en personal de salud, a través del desarrollo de habilidades y aprendizaje de estrategias basadas en evidencia científica. Para ello, tendrá acceso a materiales y herramientas dinámicas. 

            </h4>
             <h4 class="section-heading mb-6">
                PROCEDIMIENTO: Si usted acepta participar de forma voluntaria en el estudio, tendrá que registrarse a la plataforma web en el que se le solicitarán datos personales y la aplicación de un cuestionario para identificar niveles de burnout antes de iniciar el taller y tras su finalización. 

            </h4>
             <h4 class="section-heading mb-6">
                Podrá acceder semanalmente a cada uno de los módulos de trabajo, en el que encontrará materiales explicativos para su aprendizaje, además accederá a un foro de discusión para expresar dudas y experiencias. Asimismo, y de manera opcional, al finalizar los módulos de trabajo, podrá acceder a una sesión de retroalimentación en el que podrá reunirse vía Zoom con la responsable del taller. 
            </h4>
            <h4 class="section-heading mb-6">
                RESPONSABILIDAD COMO PARTICIPANTE: Al aceptar participar en este taller, usted se compromete a ingresar semanalmente a la plataforma web, revisar materiales, participar en los foros de discusión, realizar ejercicios y actividades durante la semana. En total, usted tiene que ingresar hasta en 5 ocasiones, lo que le implicará aproximadamente 1 hora de su tiempo por 5 semanas en que deberá estar dispuesto(a) a participar activamente en el taller.

            </h4>
            <h4 class="section-heading mb-6">
                POSIBLES RIESGOS Y MOLESTIAS: Para este tipo de intervención no existen riesgos o daños potenciales relacionados. 

            </h4>
            <h4 class="section-heading mb-6">
                BENEFICIOS: Podrá reducir o eliminar niveles de burnout abordando estrategias e intervenciones psicológicas adecuadas para esta finalidad. 
            </h4>
            <h4 class="section-heading mb-6">
                PARTICIPACIÓN VOLUNTARIA: Su participación es completamente voluntaria. Si decide participar, podrá retirar su información y/o participación cuando así lo desee. 
            </h4>
            <h4 class="section-heading mb-6">
                PAGOS Y COMPENSACIONES: No habrá compensación económica por su participación ni se le cobrará por recibir el servicio. 
            </h4>
             <h4 class="section-heading mb-6">
                PRIVACIDAD Y CONFIDENCIALIDAD: La información de sus datos personales y su identidad son de carácter confidencial; no serán divulgados a terceros ajenos. En caso de que su información fuera utilizada con fines de investigación se eliminará cualquier fuente de información de identificación personal, respetando su el derecho a la confidencialidad de la información. 
            </h4>
             <h4 class="section-heading mb-6">
                En caso de cualquier duda sobre sus derechos y aspectos particulares de su participación (procedimiento, etc.) deberá comunicarse al correo: tallerburnout.20@gmail.com con la Lic. En Psic. Diana Graciela Pérez Jiménez. 

            </h4>
             <h4 class="section-heading mb-6">
                PAGOS Y COMPENSACIONES: No habrá compensación económica por su participación ni se le cobrará por recibir el servicio. 
            </h4>
            
            <!-- Formulario de contacto -->
            {% if 'ok' in request.GET %}
                <p><b>Su mensaje se ha enviado correctamente, en breve nos pondremos en contacto con usted.</b></p>
            {% endif %}
            <form action="" method="POST">
                {% csrf_token %}
                
                <div class="form-group">
                    <label></label>
                     <div class="form-group" style='margin-bottom: 16rem;'>
                    <label></label>
                    <div class="input-group">
                        {{form.acepted}}
                    </div>
                         {{form.acepted.errors}}
                </div>
                   
               
                <div class="text-center">
                    <input type="submit" class="btn btn-primary btn-block py-2" value="Enviar">
                </div>
            </form>
            <!-- Fin formulario de contacto -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %} {% endcomment %}